<div class="container-fluid">
<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
        <div class="row">
            <div class="col-md-12 title-login">
      <h3>Bedankt voor uw registratie</h3>
      </div>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 form-login">
      <div class="formGroup" *ngIf="authService.userData as user">
        <p class="text-center">We hebben een bevestigings e-mail gestuurt naar: <br><strong>{{user.email}}</strong></p>
        <p class="text-center">Controleer uw e-mail en bevestig uw account door op de link te klikken.</p>
      </div>
      
      <!-- Calling SendVerificationMail() method using authService Api -->
      <div class="formGroup">
        <button type="button" class="btn btn-add-verification" (click)="authService.SendVerificationMail()">
          <i class="fas fa-redo-alt"></i>
          Stuur link opnieuw
        </button>
      </div>

    </div>
    </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="ToLogin">
                <h5>Terug naar loginscherm</h5>
                <button class="btn btn-back" (click)="login()" >Login</button>
          </div>
        </div>
      </div>


  </div>
</div>
</div>