<div class="container">
<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
        <div class="row">
            <div class="col-md-12 title-login">
      <h3>Wachtwoord herstellen</h3>

      </div>
      </div>
      <div class="row">
          <div class="col-md-12 password-reset">
      <p class="text-center">Voer hierbeneden uw e-email adres in om het herstellen van uw wachtwoord aan te vragen</p>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input type="submit" class="btn btn-password" value="Herstel watchwoord" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>
      </div>
      <div class="row">
        <div class="col-md-12 back">
            <div class="ToLogin">
                <h5>Terug naar loginscherm</h5>
                <button class="btn btn-back" routerLink="/sign-in">Terug</button>
              </div>
        </div>
      </div>
    </div>



  </div>
</div>