<div class="container-fluid">
<div class="displayTable">
  <div class="displayTableCell">

      <div class="authBlock">
          <div class="row">
            <div class="col-md-12 title-login">
                <h3>Aanmelden</h3>
            </div>
        </div>
      </div>
      <div class="container">
    
        <div class="row">
            <div class="col-md-12 form-login">
      <div class="formGroup">
          <label>E-mail adres</label><br>
        <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
      </div>

      <div class="formGroup">
          <label>Wachtwoord</label><br>
        <input type="password" class="formControl" placeholder="Password" #userPwd required>
      </div>

      <div class="formGroup">
        <button type="button" class="btn btn-add-authentication" value="Registreren" (click)="authService.SignUp(userEmail.value, userPwd.value)">Registreren</button>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <div class="ToLogin">
          <h5>Terug naar loginscherm</h5>
          <button class="btn btn-back" routerLink="/sign-in">Terug</button>
    </div>
  </div>
</div>
</div>
</div>
</div>