<div class="col-sm-12 nav-menu" *ngIf="AuthService.isLoggedIn">
  <ul>
    <Li routerLink="dashboard"><img src="assets/img/dashboard.svg"></Li>
    <Li routerLink="overview"><img src="assets/img/calendar.svg"></Li>
    <li routerLink="add" id="middle-button-menu"><img src="assets/img/add.svg"></li>
    <Li routerLink="favourite"><img src="assets/img/heart.svg"></Li>
    <Li routerLink="settings"><img src="assets/img/settings.svg"></Li>
  </ul>
</div>

<div class="col-sm-12 nav-menu-desktop" *ngIf="AuthService.isLoggedIn">
  <ul>
      <hr>
    <Li routerLink="dashboard"><img src="assets/img/dashboard.svg"><span class="menu-text-item">Home</span></Li>
      <hr>
    <Li routerLink="overview"><img src="assets/img/calendar.svg"><span class="menu-text-item">Overzicht</span></Li>
      <hr>
    <li routerLink="add" ><img src="assets/img/add-black.svg"><span class="menu-text-item">Nieuwe rit</span></li>
      <hr>
    <Li routerLink="favourite"><img src="assets/img/heart.svg"><span class="menu-text-item">Favorieten</span></Li>
      <hr>
    <Li routerLink="settings"><img src="assets/img/settings.svg"><span class="menu-text-item">Instellingen</span></Li>
      <hr>
    <Li (click)="AuthService.SignOut()"><img src="assets/img/logout.svg"><span class="menu-text-item">Uitloggen</span></Li>
      <hr>
  </ul>
</div>