<div class="container-fluid">
<div class="row ">
  <div class="col-12 head-application-bar">
    <h2>Overzicht</h2>
  </div>
</div>
</div>
<div class="container">
<div class="row">
  <div class="col-12 labels-tiem">

    <p>Maanden</p>  
  </div> 
</div>

<div class="row padding-row">
    <div class="col-md-12 overview-list ">
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Januari
                </mat-panel-title>
              </mat-expansion-panel-header>
              <hr>
              <ul>
                  <div *ngFor="let ride of uniqueDates">
                      <li *ngIf="ride >= '2019-01-01' && ride < '2019-02-01'">{{ride | date:'dd-MM-yyy'}} <a [routerLink]="['/day-overview', ride]"> <span class="check" >Bekijk</span></a></li>
                   </div>
              </ul>
            </mat-expansion-panel>
          </mat-accordion>
      </div>
      <div class="col-md-12 overview-list">
          <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Februari
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <hr>
                <ul>
                    <div *ngFor="let ride of uniqueDates">
                        <li *ngIf="ride >= '2019-02-01' && ride < '2019-03-01'">{{ride | date:'dd-MM-yyy'}} <a [routerLink]="['/day-overview', ride]"> <span class="check" >Bekijk</span></a></li>
                     </div>
                </ul>
              </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-md-12 overview-list">
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Maart
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <hr>
                  <ul>
                    <div *ngFor="let ride of uniqueDates">
                       <li *ngIf="ride >= '2019-03-01' && ride < '2019-04-01'">{{ride  | date:'dd-MM-yyy'}} <a [routerLink]="['/day-overview', ride]"> <span class="check" >Bekijk</span></a></li>
                    </div>
                  </ul>
                </mat-expansion-panel>
              </mat-accordion>
          </div>
          <div class="col-md-12 overview-list">
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      April
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <hr>
                  <ul>
                    <div *ngFor="let ride of uniqueDates">
                       <li *ngIf="ride >= '2019-04-01' && ride < '2019-05-01'">{{ride  | date:'dd-MM-yyy'}} <a [routerLink]="['/day-overview', ride]"> <span class="check" >Bekijk</span></a></li>
                    </div>
                  </ul>
                </mat-expansion-panel>
              </mat-accordion>
          </div>
          <div class="col-md-12 overview-list">
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Mei
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <hr>
                  <ul>
                    <div *ngFor="let ride of uniqueDates">
                       <li *ngIf="ride >= '2019-05-01' && ride < '2019-06-01'">{{ride  | date:'dd-MM-yyy'}} <a [routerLink]="['/day-overview', ride]"> <span class="check" >Bekijk</span></a></li>
                    </div>
                  </ul>
                </mat-expansion-panel>
              </mat-accordion>
          </div>
          <div class="col-md-12 overview-list">
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Juni
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <hr>
                  <ul>
                    <div *ngFor="let ride of uniqueDates">
                       <li *ngIf="ride >= '2019-06-01' && ride < '2019-07-01'">{{ride  | date:'dd-MM-yyy'}} <a [routerLink]="['/day-overview', ride]"> <span class="check" >Bekijk</span></a></li>
                    </div>
                  </ul>
                </mat-expansion-panel>
              </mat-accordion>
          </div>
          <div class="col-md-12 overview-list">
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Juli
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <hr>
                  <ul>
                    <div *ngFor="let ride of uniqueDates">
                       <li *ngIf="ride >= '2019-07-01' && ride < '2019-08-01'">{{ride  | date:'dd-MM-yyy'}} <a [routerLink]="['/day-overview', ride]"> <span class="check" >Bekijk</span></a></li>
                    </div>
                  </ul>
                </mat-expansion-panel>
              </mat-accordion>
          </div>
          <div class="col-md-12 overview-list">
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Augustus
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <hr>
                  <ul>
                    <div *ngFor="let ride of uniqueDates">
                       <li *ngIf="ride >= '2019-08-01' && ride < '2019-09-01'">{{ride  | date:'dd-MM-yyy'}} <a [routerLink]="['/day-overview', ride]"> <span class="check" >Bekijk</span></a></li>
                    </div>
                  </ul>
                </mat-expansion-panel>
              </mat-accordion>
          </div>
          <div class="col-md-12 overview-list">
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      September
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <hr>
                  <ul>
                    <div *ngFor="let ride of uniqueDates">
                       <li *ngIf="ride >= '2019-09-01' && ride < '2019-10-01'">{{ride  | date:'dd-MM-yyy'}} <a [routerLink]="['/day-overview', ride]"> <span class="check" >Bekijk</span></a></li>
                    </div>
                  </ul>
                </mat-expansion-panel>
              </mat-accordion>
          </div>
          <div class="col-md-12 overview-list">
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Oktober
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <hr>
                  <ul>
                    <div *ngFor="let ride of uniqueDates">
                       <li *ngIf="ride >= '2019-10-01' && ride < '2019-11-01'">{{ride  | date:'dd-MM-yyy'}} <a [routerLink]="['/day-overview', ride]"> <span class="check" >Bekijk</span></a></li>
                    </div>
                  </ul>
                </mat-expansion-panel>
              </mat-accordion>
          </div>
          <div class="col-md-12 overview-list">
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      November
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <hr>
                  <ul>
                    <div *ngFor="let ride of uniqueDates">
                       <li *ngIf="ride >= '2019-11-01' && ride < '2019-12-01'">{{ride  | date:'dd-MM-yyy'}} <a [routerLink]="['/day-overview', ride]"> <span class="check" >Bekijk</span></a></li>
                    </div>
                  </ul>
                </mat-expansion-panel>
              </mat-accordion>
          </div>
          <div class="col-md-12 overview-list">
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      December
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <hr>
                  <ul>
                    <div *ngFor="let ride of uniqueDates">
                       <li *ngIf="ride >= '2019-12-01' && ride < '2020-01-01'">{{ride  | date:'dd-MM-yyy'}} <a [routerLink]="['/day-overview', ride]"> <span class="check" >Bekijk</span></a></li>
                    </div>
                  </ul>
                </mat-expansion-panel>
              </mat-accordion>

          </div>
</div>
</div>
