<div class="row">
  <div class="col-md-12 head-application-bar">
    <h2>Voorkeuren</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12 labels-tiem">
    <p>Bestemmingen toevoegen</p>  
  </div> 
</div>

<div class="row">
    <div class="col-md-12 form-add-drive ">
        <form #f="ngForm" (ngSubmit)="update(f.value)" >
              <div class="form-group col-md-12">
                <label for="companyName">Bedrijfsnaam:</label><br>
                <input ngModel required name="companyName" id="companyName" type="text" #clientName="ngModel" class="form-control">
              </div>
              <div class="form-group col-md-12">
                  <label for="companyStreet">Straatnaam + Huisnummer:</label><br>
                  <input ngModel required name="companyStreet" id="companyStreet" type="text" #clientName="ngModel" class="form-control">
              </div>
              <div class="form-group col-md-12">
                  <label for="companyCode">Postcode:</label><br>
                  <input ngModel required name="companyCode" id="companyCode" type="text" #clientName="ngModel" class="form-control">
              </div>
              <div class="form-group col-md-12">
                  <label for="companyTown">Vestigingplaats:</label><br>
                  <input ngModel required name="companyTown" id="companyTown" type="text" #clientName="ngModel" class="form-control">
              </div>
          <button class="btn btn-add-ride" [disabled]="!f.valid">Wijzig</button>
        </form>
      </div>

</div>
