<div class="container-fluid">
<div class="row">
    <div class="col-md-12 head-application-bar">
      <h2>Favorieten</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row favourite-view">

  <div class="col-4 back-button">
      <a (click)="backClicked()"><li><img src="assets/img/back-arrow.svg">Terug</li></a>
  </div>
  <div class="col-4 day-tiem">
    <p>Bestemming toevoegen</p>  
  </div> 
  <div class="col-4">

  </div>
</div>
  
  <div class="row favourite-view">
      <div class="col-md-12 form-add-drive">
          <form #f="ngForm" (ngSubmit)="save(f.value)" >
                <div class="form-group col-md-12">
                  <label for="companyName">Bedrijfsnaam:</label><br>
                  <input ngModel required name="companyName" id="companyName" type="text" #clientName="ngModel" class="form-control">
                </div>
                <div class="form-group col-md-12">
                    <label for="companyStreet">Straatnaam + Huisnummer:</label><br>
                    <input ngModel required name="companyStreet" id="companyStreet" type="text" #clientName="ngModel" class="form-control">
                </div>
                <div class="form-group col-md-12">
                    <label for="companyCode">Postcode:</label><br>
                    <input ngModel required name="companyCode" id="companyCode" type="text" #clientName="ngModel" class="form-control">
                </div>
                <div class="form-group col-md-12">
                    <label for="companyTown">Vestigingplaats:</label><br>
                    <input ngModel required name="companyTown" id="companyTown" type="text" #clientName="ngModel" class="form-control">
                </div>
            <button class="btn btn-add-ride" [disabled]="!f.valid">Voeg toe</button>
          </form>
        </div>
  
  </div>
</div>
