<div class="container-fluid">
<div class="row">
    <div class="col-md-12 head-application-bar">
      <h2>Overzicht</h2>
    </div>
  </div>
</div>
<div class="container">
 
  
  <div class="row">

    <div class="col-4 back-button">
        <a (click)="backClicked()"><li><img src="assets/img/back-arrow.svg">Terug</li></a>
    </div>
    <div class="col-4 day-tiem">
      <p>Rit wijzigen</p>  
    </div> 
    <div class="col-4">

    </div>
  </div>
  
  <div class="row padding-row">
      <div class="col-md-12 form-add-drive">
          <form #f="ngForm" (ngSubmit)="update(f.value)" >
            <div class="form-group col-md-12">
                <label for="from">Van:</label><br>
                <select ngModel required name="from" id="from" type=""  class="form-control"  > 
                    <option > </option>
                  <option *ngFor="let favourite of (favourites$ | async)">{{favourite.company}}</option>
                </select>
              </div>
              <div class="form-group col-md-12">
                  <label for="to">Naar:</label><br>
                  <select ngModel required name="to" id="to" type="" class="form-control" >
                    <option> </option>
                    <option *ngFor="let favourite of (favourites$ | async)">{{favourite.company}}</option>
                  </select>
                </div>
                <div class="form-group col-md-12">
                    <label for="km">Aantal km:</label><br>
                    <input ngModel required name="km" id="km" type="number"  class="form-control">
                  </div>
              <div class="form-group col-md-12 ">
                <label for="desc">Omschrijving:</label><br>
                <textarea ngModel name="desc" id="desc" class="form-control"></textarea>
              </div>
            <button class="btn btn-add-settings" [disabled]="!f.valid">Wijzig rit</button>
          </form>
          <button class="btn btn-add-delete" (click)="delete()">Verwijder rit</button>
        </div>
  </div>
</div>

  
