<div class="container-fluid">
<div class="row">
  <div class="col-md-12 head-application-bar">
    <h2>Ritje</h2>
  </div>
</div>


<div class="row car-info-dashboard">
    <div class="col-6">
      <div *ngFor="let car of (carData$ | async)">
        <p id="total-km-month">{{car.totalKm}}</p>
        <p>Totaal gereden KM</p>
      </div>
    </div>
    <div class="col-6">
      <div *ngFor="let car of (carData$ | async)">
        <img src="assets/img/car.svg">
        <p>{{car.car}}</p>
        </div>
      </div>
</div>
</div>
<div class="container">

<div class="row">
  <div class="col-md-12 item-view">
    <p>Grafiek over verbruik</p>
  </div>
</div>

<div class="row">
    <div class="col-md-12 item-view locations-dashboard">
      <h3><img src="assets/img/marker.svg">Bestemmingen</h3>
      <hr>
      <p>Naam bestemming 1</p>
      <hr>
      <p>Naam bestemming 3</p>
      <hr>
      <p>Naam bestemming 4</p>
      <hr>
      <p>Naam bestemming 5</p>
      <hr>
    </div>
  </div>
</div>