/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


/* Portrait for smartphones , max device is 6/7/8+ */
@media only screen and (max-width: 736px) and (orientation: portrait) { 
    body{
        background-color: #F7F7F7;
    }
    .nav-menu{
        overflow: hidden;
        border-top-style: solid;
        border-top-color: black;
        border-top-width: 1px;
        position: fixed;
        bottom: 0;
        background-color: white;
        z-index: 999;
    }
    
    .nav-menu ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    .nav-menu ul li{
        margin-left: 5%;
        float: left;
        height: 50px;
        padding: 10px 16px;
    }

    .nav-menu ul li img{
        width: 20px;
    }   

    #middle-button-menu{
        background-color: #6DB4F0;
        padding: 10px 22px;
     
    }

    .head-application-bar{
        background-color: #6DB4F0;
       
    }

    .head-application-bar h2{
      text-align: center;
      padding: 22px 0px 4px 0px;
      color: white;
      font-size: 16pt;
    }

    .car-info-dashboard{
        padding: 30px 5px 40px 5px;
        background-color: #6DB4F0;
        color: white;
        margin-bottom: 30px;
    }
    .car-info-dashboard img{
        margin-top: 13px;
        width: 45px;
        margin-bottom: 3px;
    }

    #total-km-month{
        font-size: 32pt;
        font-weight: 800;
        margin-bottom: 0px;
    }

    .item-view{
        padding: 14px 15px;
        border-radius: 10px;
        margin: 20px 15px 5px 15px;
        background-color: white;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    .item-view img{
        width: 11px;
        margin-right: 7px;
        margin-top: -5px;
    }

    .item-view h3{
        font-size: 13pt;
    }

    .item-view hr{
        margin: 0px 0px 0px 0px;
    }

    .locations-dashboard p{
        margin-top: 9px;
        margin-bottom: 12px;
    }

    .back-button{
        margin-top: 7%;
    }

    .back-button a {
        list-style: none;
        
    }

    .back-button a li{
        color:#0B8EB5;
    }

    .back-button a li img{
        margin-top: -3px;
        width: 12px;
    }

    .form-add-drive{
        margin-top: 5%;
    }

    .form-group label,{
        font-weight: 700;
        font-size: 11pt;
    }

    .form-group input,.form-group select,.form-group textarea{
        box-shadow: 0 3px 12px rgba(0,0,0,0.16), 0 3px 12px rgba(0,0,0,0.23);
    }

    .btn-add-ride{
        background-color: #6DB4F0;
        border-radius: 20px;
        font-size: 11pt;
        width: 60%;
        margin-top: 3%;
        margin-left: 4%;
        color: white;
    }

    .title-label-control{
        font-weight: 700;
    }

  
    .labels-tiem p{
        font-weight: 700;
        font-size: 11pt;
        margin-top: 8%;
        margin-left: 1%;
        margin-bottom: 0%;
    }

    .day-tiem{
        font-weight: 700;
        font-size: 11pt;
        margin-top: 8%;
        margin-bottom: 0%;
        text-align: center;
    }

    .control-rows{
        margin-top: 3%;
    }
    
    .btn-control-ride{
        background-color: #6DB4F0;
        color: white;
        border-radius: 20px;
        font-size: 11pt;
        margin-left: 34%;
        width: 140px;
    }

    .favourites-list, .overview-list{
        margin-top: 3%;
    }

    .settings-list{
        margin-top: 0%;
    }

    .favourites-list p, .overview-list p,.settings-list p{
        padding-top: 2%;
        margin-bottom: 0px;
    }

    .overview-list ul{
        padding-left: 0px;
    }   

    .overview-list ul li{
        list-style: none;
        font-weight: 300;
        font-size: 11pt;
        padding: 5px 0px;
    }

    .overview-list hr{
        margin-top: -9px;
    }


    .check{
        float: right;
        color: #0089B2;
    }

    .check:hover{
        opacity: 0.8;
    }

    .edit-button button{
        padding-bottom: 0%;
    }

    .edit-button:hover{
        opacity: 0.5;
    }
    
    .edit-button img{
        margin-left: 15px;
    }

    .btn-add-favourite{
        background-color: #6DB4F0;
        color: white;
        border-radius: 20px;
        font-size: 11pt;
        margin-top: 5%;
        margin-left: 26%;
        width: 200px;
        margin-bottom: 20%;
    }

    .form-group label{
        font-weight: 700;
        font-size: 11pt;
        margin-top: 0%;
        margin-left: 1%;
        margin-bottom: 2%;
    }

    .change-day-ride{
        text-align: center;
        color:#0089B2;
    }

    .change-day-ride a{
        color:#0089B2;
        font-size: 11pt;
    }

    .change-day-ride hr{
        margin-top: 4px;
       padding: 3px 0px;
    }

    .padding-row{
        margin-bottom: 30%;
    }
      
      .example-full-width {
        width: 100%;
      }

      .btn-add-settings{
        background-color: #6DB4F0;
        border-radius: 20px;
        font-size: 11pt;
        width: 40%;
        margin-top: 3%;
        margin-left: 30%;
        color: white;
    }

    .settings-label{
        margin-top: 3%;
        margin-bottom: 0%;
        margin-left: 1%;
        font-weight: 600;
        font-size: 11pt;
    }

    .title-login{
        background-color: #6DB4F0;
    }

    .title-login h3{
        font-size: 14pt;
        color: white;
        text-align: center;
        padding-top: 50%;
        padding-bottom: 3%;
    }

    .form-login{
        padding-top: 3%;
    }

    .form-login label{
        margin-top: 6%;
        font-weight: 700;
        font-size: 11pt;
    }

    .form-login input[type=text], .form-login input[type=password],.form-login input[type=email], .password-reset input[type=email]{
        width: 100%;
        border-radius: 25px;
        border-color: transparent;
        padding: 2% 2%;
        box-shadow: 0 3px 12px rgba(0,0,0,0.16), 0 3px 12px rgba(0,0,0,0.23);
    }

    .form-login input[type=text]::placeholder, .form-login input[type=password]::placeholder, .password-reset input[type=email]::placeholder, .form-login input[type=email]::placeholder{
        font-size: 9pt;
        padding-left: 2%;
    }

    .btn-add-authentication{
        background-color: #6DB4F0;
        border-radius: 20px;
        font-size: 11pt;
        width: 30%;
        margin-top: 7%;
        margin-left: 35%;
        color: white;
        font-size: 11pt;
    }

    .forgotPassword{
        text-align: center;
        font-size: 9pt;
        margin-top: 4%;
        color: #0089B2;
    }

    .new-user{
       margin-top: 9%;
    }

    .new-user h5{
        text-align: center;
        font-size: 11pt;
    }

    .new-user p{
        text-align: center;
        font-size: 10pt;
    }
    .redirect{
        background-color: #6DB4F0;
        border-radius: 20px;
        font-size: 11pt;
        width: 30%;
        margin-top: 2%;
        margin-left: 35%;
        color: white;
        font-size: 9pt;

    }

    .password-reset{
        margin-top: 8%;
    }

    .password-reset p{
        font-size: 11pt;
    }

    .btn-password{
        background-color: #6DB4F0;
        border-radius: 20px;
        font-size: 11pt;
        width: 40%;
        margin-top: 4%;
        margin-left: 30%;
        color: white;
        font-size: 9pt;
    }

    .ToLogin{
        margin-top: 15%;
    }

    .ToLogin h5{
        text-align: center;
    }

    .btn-back{
        background-color: #6DB4F0;
        border-radius: 20px;
        font-size: 11pt;
        width: 40%;
        margin-top: 4%;
        margin-left: 30%;
        color: white;
        font-size: 9pt;
    }

    .btn-add-verification{
        background-color: #6DB4F0;
        border-radius: 20px;
        font-size: 11pt;
        width: 60%;
        margin-top: 4%;
        margin-left: 20%;
        color: white;
        font-size: 9pt;
    }

  


}

