/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


/* Portrait for smartphones , max device is 6/7/8+ */
@media only screen and (max-width: 736px) and (orientation: portrait) { 
    body{
        background-color: #F7F7F7;
    }
    .nav-menu{
        overflow: hidden;
        border-top-style: solid;
        border-top-color: black;
        border-top-width: 1px;
        position: fixed;
        bottom: 0;
        background-color: white;
    }
    
    .nav-menu ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    .nav-menu ul li{
        margin-left: 5%;
        float: left;
        height: 50px;
        padding: 10px 16px;
    }

    .nav-menu ul li img{
        width: 20px;
    }   

    #middle-button-menu{
        background-color: #6DB4F0;
        padding: 10px 22px;
     
    }

    .head-application-bar{
        background-color: #6DB4F0;
       
    }

    .head-application-bar h2{
      text-align: center;
      padding: 22px 0px 4px 0px;
      color: white;
      font-size: 16pt;
    }

    .car-info-dashboard{
        padding: 30px 5px 40px 5px;
        background-color: #6DB4F0;
        color: white;
        margin-bottom: 30px;
    }
    .car-info-dashboard img{
        margin-top: 13px;
        width: 45px;
        margin-bottom: 3px;
    }

    #total-km-month{
        font-size: 32pt;
        font-weight: 800;
        margin-bottom: 0px;
    }

    .item-view{
        padding: 14px 15px;
        border-radius: 10px;
        margin: 20px 15px 5px 15px;
        background-color: white;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    .item-view img{
        width: 11px;
        margin-right: 7px;
        margin-top: -5px;
    }

    .item-view h3{
        font-size: 13pt;
    }

    .item-view hr{
        margin: 0px 0px 0px 0px;
    }

    .locations-dashboard p{
        margin-top: 9px;
        margin-bottom: 12px;
    }

    .back-button{
        margin-top: 7%;
    }

    .back-button a {
        list-style: none;
        
    }

    .back-button a li{
        color:#0B8EB5;
    }

    .back-button a li img{
        margin-top: -3px;
        width: 12px;
    }

    .form-add-drive{
        margin-top: 5%;
    }

    .form-group label,{
        font-weight: 700;
        font-size: 11pt;
    }

    .form-group input,.form-group select,.form-group textarea{
        box-shadow: 0 3px 12px rgba(0,0,0,0.16), 0 3px 12px rgba(0,0,0,0.23);
    }

    .btn-add-ride{
        background-color: #6DB4F0;
        border-radius: 20px;
        font-size: 11pt;
        width: 60%;
        margin-top: 3%;
        margin-left: 4%;
        color: white;
    }

    .title-label-control{
        font-weight: 700;
    }
    .labels-tiem p{
        font-weight: 700;
        font-size: 11pt;
        margin-top: 8%;
        margin-left: 1%;
        margin-bottom: 0%;
    }

    .control-rows{
        margin-top: 3%;
    }
    
    .btn-control-ride{
        background-color: #6DB4F0;
        color: white;
        border-radius: 20px;
        font-size: 11pt;
        margin-left: 34%;
        width: 140px;
    }



}

