<div class="row">
  <div class="col-md-12 head-application-bar">
    <h2>Voorkeuren</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12 labels-tiem">
    <p>Bestemmingen</p>  
  </div> 
</div>

<div class="row">
    <div class="col-md-12 item-view favourites-list" *ngFor="let favourite of (favourites$ | async)">
      <div class="row">
          <div class="col-10">
              <p>{{favourite.company}}</p>
          </div>
          <div class="col-2 edit-button">
              <a href="#"><img src="assets/img/edit.svg"></a>
          </div>
      </div>
    </div>
</div>

<div class="row">
  <button class="btn btn-add-favourite" routerLink="/add-favourite">Toevoegen</button>
</div>